



































button {
  backgtound-color: var(--cor-secundaria);
  color: var(--cor-texto);
  border: none;
  border-radius: 15px;
  padding: 15px;
  transition: background-color 0.3s;
  }

button:hover{
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}

